<!DOCTYPE html>
<html>
<head>
<style>
background-image: url(img_flwr.gif), url(paper.gif);
    background-position: right bottom, left top;
    background-repeat: no-repeat, repeat;
    padding: 15px;
<body>background-color: lightblue;

<h1>
    color: white;
    text-align: center;

p {
    font-family: verdana;
    font-size: 20px;
}
</style>
</head>
<body>


</body>
</html>

